#body{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    width:1000px;
    height:550px;
    background-image: url(high-resolution-mountains-and-lakes-1100x642.jpg);
    margin: 20px auto;
    background-repeat:no-repeat;
}
#calculator{
    width:320px;
    height:520px;
    background-color: bisque;
    position:relative;
    top:20px;
    box-shadow: 9px 9px 9px darkblue;
    margin:0 auto;
}
#keyboard{
   height:400px; 
}
#result{
    height:120px;
}

.operator,.number,.empty{
    height:50px;
    width:50px;
    margin:10px;
    border:0px;
    border-radius: 50px;
    background-color: bisque;
}

button:nth-child(4){
    background-color: rgb(255, 0, 0);
}

button:nth-child(8) {
    background-color: brown;
}

button:nth-child(12) {
    background-color: rgb(121, 50, 50);
}

button:nth-child(16) {
    background-color: rgb(79, 43, 43);
}

button:nth-child(4) {
    background-color: rgb(39, 30, 30);
}

.operator:hover{
    font-size: 40px;
}

.number:hover{
    font-size: 40px;
}

.operator,.number{

cursor:pointer;
}